#CONFIG_IDF_TARGET="esp32p4"
CONFIG_IDF_TARGET="esp32c6"

CONFIG_ESP_NETIF_L2_TAP=y

CONFIG_EXAMPLE_USE_INTERNAL_ETHERNET=y
CONFIG_EXAMPLE_ETH_PHY_IP101=y

CONFIG_NETUTILS_PTPD=y
CONFIG_NETUTILS_PTPD_CLIENT=y
CONFIG_NETUTILS_PTPD_SERVER=y

# Set high priority to act as master
#欄位	你的設定	對方（典型預設）	結果
#priority1	1	128	你贏
#clockClass	6 (Primary Ref)	248	你贏
#clockAccuracy	254	254	平手
#priority2	1	128	你贏
CONFIG_NETUTILS_PTPD_PRIORITY1=1
CONFIG_NETUTILS_PTPD_PRIORITY2=1
CONFIG_NETUTILS_PTPD_CLASS=6
#更頻繁發 Announce（已改為 1 秒）— 讓對方的 BMC 更快看到
CONFIG_NETUTILS_PTPD_ANNOUNCE_INTERVAL_MSEC=1000

# (MANUAL, SPI_CONFIGURATIONS)
CONFIG_ETH_SPI_ETHERNET_DM9058=y

# (MANUAL, SPI_CONFIGURATIONS)
#
# Example Ethernet Configuration
#
CONFIG_EXAMPLE_USE_SPI_ETHERNET=y
CONFIG_EXAMPLE_SPI_ETHERNETS_NUM=1
CONFIG_EXAMPLE_USE_DM9058=y

# CONFIG_EXAMPLE_USE_KSZ8851SNL is not set
# CONFIG_EXAMPLE_USE_W5500 is not set
CONFIG_EXAMPLE_ETH_SPI_HOST=1
CONFIG_EXAMPLE_ETH_SPI_SCLK_GPIO=1
CONFIG_EXAMPLE_ETH_SPI_MOSI_GPIO=8
CONFIG_EXAMPLE_ETH_SPI_MISO_GPIO=10
CONFIG_EXAMPLE_ETH_SPI_CLOCK_MHZ=20
CONFIG_EXAMPLE_ETH_SPI_CS0_GPIO=0
CONFIG_EXAMPLE_ETH_SPI_INT0_GPIO=11
CONFIG_EXAMPLE_ETH_SPI_POLLING0_MS=0
CONFIG_EXAMPLE_ETH_SPI_PHY_RST0_GPIO=-1
CONFIG_EXAMPLE_ETH_SPI_PHY_ADDR0=1

# CONFIG_NETUTILS_PTPD_PATH_DELAY_STABILITY_NS=250
CONFIG_NETUTILS_PTPD_SEND_DELAYREQ=y
CONFIG_NETUTILS_PTPD_MAX_PATH_DELAY_NS=100000
CONFIG_NETUTILS_PTPD_DELAYREQ_AVGCOUNT=100
CONFIG_NETUTILS_PTPD_PATH_DELAY_STABILITY_NS=4000

# gPTP P2P peer delay (IEEE 802.1AS)
CONFIG_NETUTILS_PTPD_GPTP_P2P=y
CONFIG_NETUTILS_PTPD_PDELAY_INTERVAL_MSEC=1000
CONFIG_NETUTILS_PTPD_PDELAY_MAX_NS=100000
CONFIG_NETUTILS_PTPD_PDELAY_AVGCOUNT=10
